# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mateus Santos
	email = mateus.freira@gmail.com
[core]
	excludesfile = ~/.global_gitignore
